{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "Admin/base.html.twig" %}

{% block metatitle %}{{ parent()}}Article{% endblock %}

{% block main %}

    <section class="section">
        <article class="article">
            <div class="img">
                <a href=""><img class="article_img" src="{{ asset('uploads/cover/'~article.coverFilenam)  }}"></a>
            </div>
            <h5>{{ article.title }}</h5>
            <h5>{{ article.publishdAt|date("m/d/Y") }}</h5>
        </article>
    </section>

    {{ form_start(form) }}

        <div class="form-style-9">
            <h2>AJOUTER UN ARTICLE</h2>

            {{ form_widget(form.title, {'attr': {'placeholder': 'Tapez le Titre du livre'}}) }}

            {{ form_widget(form.text, {'attr': {'placeholder': 'Tapez votre texte'}}) }}

            {{ form_label(form.coverFilenam, 'AFFICHE') }}
            {{ form_widget(form.coverFilenam)}}

            <div class="form">
                {{ form_label(form.publishdAt, 'Date de parution') }}
                {{ form_widget(form.publishdAt)}}
            </div>

            <div class="form">
                {{ form_label(form.category, 'Catégorie ') }}
                {{ form_widget(form.category)}}
            </div>

            {{ form_widget(form.VALIDER, {'attr': {'class': 'btn'}}) }}

        </div>

    {{ form_end(form) }}

{% endblock main %}