{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "Admin/base.html.twig" %}

{% block metatitle %}{{ parent()}}Boutique{% endblock %}

{% block main %}

    <table>
        <thead>
        <tr>
            <th colspan="100%"><h2>LISTE DES ARTICLES</h2></th>
        </tr>
        <tr>
            <th colspan="100%" style="text-align: right"><a class="lien" href="{{ path("admin_store_create") }}">AJOUTER UN PRODUIT ></a></th>
        </tr>
        </thead>
        <tbody>
        {% for store in stores %}
            <tr>
                <td><h3>{{ store.title }}</h3></td>
                <td><button type="button" class="btn1">
                        <a class="table-link" href="{{ path("admin_article_update",{"id" : store.id}) }}">MODIFIER</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn1">
                        <a class="table-link" href="{{ path("admin_article_delete",{"id" : store.id}) }}">Supprimer</a>
                    </button>
                </td>
            </tr>
        {% endfor%}
        </tbody>
    </table>

{% endblock main %}