{# je utilise l'héritage de twig pour
restituer le contenu du bloc parent (base.html.twig #}
{% extends "User/base.html.twig" %}

{% block metatitle %}{{ parent()}}Accueil{% endblock %}

{% block main %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset("assets/img/dimanche17.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset("assets/img/dimanche10.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset("assets/img/enzr.jpg") }}" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <section>
        <h2>DERNIÈRES ACTUALITÉS</h2>
        <div class="articles">
            {# avec la methode path je recupere les variables dens mon tableau apartir de mon homeContraller. #}
            {% for article in articles %}
                <article>
                    <div class="img">
                        <a href="{{ path('user_article', {'id' : article.id})}}"><img class="article_img" src="{{ asset('uploads/cover/'~article.coverFilenam)  }}"></a>
                    </div>
                    <h5>{{ article.title }}</h5>
                    <h5>{{ article.publishdAt|date("m/d/Y") }}</h5>
                </article>
            {% endfor %}
        </div>
        <p class="lien">
            <a class="lien" href="{{ path('user_articles') }}">TOUTES LES ACTUALITÉS ></a>
        </p>
    </section>
    <section>
        <h2>CALENDRIER & CLASSEMENT</h2>
        <div class="results">
            <div class="box">
                <div class="header"><span class="subtitle-classement">Classement</span></div>
                <ul class="container-list">
                    <li class="container-li">
                        <span class="numero-classement"> 5. </span>
                        <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1530.jpg" alt="SC St Pierre Du Mont"
                             class="default ">
                        <div class="first-place">
                            <span class="nom-club">Ychoux Ol</span>
                        </div>
                        <div class="nombre-points">
                            <span>27</span>
                            <span>Pts</span>
                        </div>
                    </li>
                    <li class="container-li">
                        <span class="numero-classement"> 6. </span>
                        <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" alt="SC St Pierre Du Mont"
                             class="default ">
                        <div class="first-place">
                            <span class="nom-club">AS Lacanau</span>
                        </div>
                        <div class="nombre-points">
                            <span>18</span>
                            <span>Pts</span>
                        </div>
                    </li>
                    <li class="container-li">
                        <span class="numero-classement"> 7. </span>
                        <img src="https://api-agregateur.ffr.fr/assets/embleme/club/395.jpg" alt="US Galgonaise Rugby"
                             class="default ">
                        <div class="first-place">
                            <span class="nom-club">US Galgonaise Rugby</span>
                        </div>
                        <div class="nombre-points">
                            <span>15</span>
                            <span>Pts</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box">
                <div class="info">
                    <div class="calendrier">
                        <div class="calendrier__head">
                            <div class="calendrier__head__title">PROCHAIN MATCH</div>
                            <div class="calendrier__head__info">
                                <span class="calendrier__head__info__place">Stade De L'Ardilouse | </span>
                                <span class="calendrier__head__info__date"><span>09/01/2022</span> - 15:00 </span>
                            </div>
                        </div>
                        <div class="calendrier__info">
                            <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                            <div class="calendrier__info__teams">
                                <span class="calendrier__info__team">AS Lacanau </span>
                                <span class="calendrier__info__vs"><strong>VS</strong></span>
                                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
                            </div>
                            <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                        </div>
                    </div>
                    <div class="calendrier">
                        <div class="calendrier__head">
                            <div class="calendrier__head__title">DERNIER MATCH</div>
                            <div class="calendrier__head__info">
                                <span class="calendrier__head__info__place">Stade De L'Ardilouse | </span>
                                <span class="calendrier__head__info__date"><span>09/01/2022</span> - 15:00 </span>
                            </div>
                        </div>
                        <div class="calendrier__info">
                            <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1025.jpg" class="default ">
                            <div class="calendrier__info__teams">
                                <span class="calendrier__info__team">AS Lacanau</span>
                                <span class="calendrier__info__vs"><strong>16-13</strong></span>
                                <span class="calendrier__info__team">SC St Pierre Du Mont</span>
                            </div>
                            <img src="https://api-agregateur.ffr.fr/assets/embleme/club/1320.jpg" class="default">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock main %}